body {
	padding: 80px 0 100px 0;
}
ul.wrap {
	margin-left: 2.1rem;
	padding: 0;
	line-height: 1.6;
	font-size: 1rem;
}
ul.wrap li {
	text-indent: -0.76em;
	margin-bottom: 0.6rem;
	list-style-type: none;
}
.list-container {
	background: #0a001a;
}
.lead {
	color: #a3a3a3 !important;
	font-weight: 600;
}
h3 {
	font-size: 1.5rem;
}
a {
	font-weight: 500;
}
.fa-rocket::before {
	font-family: FontAwesome;
	content: "\f135";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
}
.fa {
	color: #D60E96;
}
ul.wrap li .fa {
	padding-right: 0;
}

@media (min-width: 768px) {
	.col-md-10 {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.container {
		max-width: 720px;
	}
	.d-xl-block {
		display: block!important;
	}
	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}